main {
    padding-top: 140px;
}

main a {
    text-decoration: none;
    background-color: #00000000;
    color: #1268e2;
    padding: 5px 8px;
    border: 2px solid #000000;
    border-radius: 3px;
}

main a:hover {
    background-color: #9000ce;
    color: #ffffff;
}

/* Global container styles */
#about-preview .container {
    padding: 20px;
    border: 5px solid #6B3E0A;
    margin: 20px auto; /* 20px margins for laptop and larger */
    max-width: 1200px;
    box-sizing: border-box;
    background-color: #9FA37A;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    align-items: center;
}

#about-preview h2 {
    font-size: 2.6rem;
    margin-bottom: 20px;
    color: #6B3E0A;
}

#about-preview h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #6B3E0A;
    text-align: center;
}

/* Paragraph styles */
#about-preview p {
    font-size: 1.4rem;
    margin-bottom: 20px;
    color: #6B3E0A;
    padding: 9px;
    outline: 2px solid #6B3E0A;
    margin-left: 10px;  /* Set 20px margins for larger screens */
    margin-right: 10px;
}

/* Adjust for smaller screens */
@media screen and (max-width: 768px) {
    #about-preview .container {
        max-width: 98%;
        margin: 10px auto;  /* 10px margins for small screens */
    }

    #about-preview p {
        padding: 20px;  /* Reduce padding for smaller screens */
        margin-left: 6px;  /* 10px margins for small screens */
        margin-right: 6px;
    }

    main {
        padding-top: 100px;  /* Reduce top padding on small screens */
    }
}