main {
    padding-top: 170px;
}

main #contact-preview {
    text-align: center;
margin-top: 45px;
padding-top: 45px;
background-color: #f3e9c9c9;
outline: 50px solid black;
margin-bottom: 45px;
}

main .contact-info {
    margin: 30px auto;
}

