/* Main content styles */
main {
    padding: 40px 20px;
    padding-top: 108px;
    background-color: #e4d8cfd5; /* Light background for the main area */
    border: 2px solid #6B3E0A; /* Darker border to frame the content */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 40px; /* Spacing from the footer */
}

/* Event preview section */
.events-intro {
    background-color: rgb(160, 180, 157); /* Semi-transparent dark background */
    outline: 2px solid black;
    color: rgb(40, 16, 4); /* Text color for contrast */
    padding: 20px; /* Padding for content */
    margin: 0 20px;
    border-radius: 8px; /* Rounded corners */
    margin-bottom: 10px; /* Space between sections */
}

/* Headings and paragraphs within events */



#events-preview h2 {
    font-size: 2.2rem;
    margin-bottom: 15px;
    color: #1a0d03; /* Gold color for headings */
}

#events-preview p {
    line-height: 1.6rem; /* Better readability */
    font-size: 1.6rem;
    margin-bottom: 15px;
    padding: 10px 10px;
}

.ritual-madness {
    max-width: 450px;
    height: auto;
    margin: 20px 0;
}
/* Event posts */


.event-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4b4276; /* Dark background for event posts */
    height: 900px;
    border: 1px solid #271731d8; /* Darker border */
    border-radius: 8px; /* Rounded corners */
    padding: 10px; /* Padding for content */
    margin-bottom: 20px; /* Space between posts */
}

.event-post h1 {
    color: white;
    text-align: center;
    text-decoration: underline;
    font-size: 2.2rem;
}

.event-post iframe {
    border-radius: 4px; /* Rounded corners for the video */
    width: 70%; /* Set width to 70% of the container */
    max-width: 800px; /* Maximum width to prevent it from getting too large */
    height: 400; /* Maintain aspect ratio */
    margin: 0 auto; /* Center the video */
    display: block; /* Ensure the iframe behaves as a block element */
}

