/* Partners Page Specific Styles */

.partner-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    outline: 4px solid #3d4024;
}

.partners-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

.partner {
    text-align: center;
    max-width: 200px;
    padding: 10px;
    border: 1px solid #9FA37A;
    border-radius: 5px;
    background-color: #F6E4CE;
}

#friends-of-oakmoss h1 {
    text-align: center;
    padding-bottom: 20px;
}

#friends-of-oakmoss p {
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    padding-bottom: 20px;
}

.partner h3 {
    font-size: 1.6rem;
    font-weight: bold;
    color: #60634a;
}

.partner p {
    font-size: 1.1rem;
    font-weight: 600;
}