/* Reset some default styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Global Styles */
body {
    font-family: 'Cormorant Garamond', serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #F6E4CE;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px 20px;
    justify-content: center;
}

/* General Styles */
a {
    color: #9FA37A;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Header Styles */
header {
    background-color: #9FA37A;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.202);
    position: fixed;
    width: 100%;
    z-index: 1000;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
}

header .logo {
    height: 125px;
    margin: -15px;
}

/* Navigation Styles */
nav {
    display: flex;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 30px;
}

.nav-links li a {
    text-decoration: none;
    color: #F6E4CE;
    font-weight: 600;
    font-size: 1.6rem;
    transition: color 0.3s ease;
    background-color: rgb(43, 70, 43);
    padding: 4px 12px;
}

.nav-links li a:hover {
    color: #a46233;
}

/* Hamburger Menu Styles */
.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: #F6E4CE;
    border-radius: 2px;
}

/* Main Content */
main {
    padding-top: 144px;
}

/* Hero Section */
#hero {
    background-image: url('../images/cherry-table.jpg');
    background-size: cover;
    background-position: center;
    height: 60vh;
    padding: 20px;
    color: rgb(43, 70, 43);
    outline: 5px solid #6B3E0A;
}

#welcome-oakmoss {
    padding: 20px 20px;
    background-color: #F6E4CE;
    text-align: center;
    margin-top: 20px;
}

#welcome-oakmoss h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
}

#welcome-oakmoss h3 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 30px;
}

#welcome-oakmoss .cta-button {
    background-color: #8B4513;
    color: #F6E4CE;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

#welcome-oakmoss .cta-button:hover {
    background-color: #6B3E0A;
}


/* Wallet Section */
#wallets {
    padding: 30px 40px;
    background-color: #F6E4CE;
    text-align: center;
    font-size: 1.7rem;
}

.wallet-showcase {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

#wallets .wallet-image {
    width: 18%;
    border-radius: 5px;
    outline: 2px solid black;
    margin-bottom: 30px;
}

.wallet-info {
    max-width: 600px;
    margin: 0 auto;
}

#wallets .button {
    display: inline-block;
    background-color: #8B4513;
    color: #F6E4CE;
    padding: 4px 18px;
    margin: 10px;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

#wallets .button:hover {
    background-color: #6B3E0A;
    text-decoration: underline;
}

.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review {
background-color: #bec399;
max-width: 70%;
text-align: center;
color: rgb(37, 20, 4);
padding: 10px;
margin: 10px 0px;
font-size: 1.2rem;
}


/* Blog Preview */
#blog-preview {
    padding: 60px 20px;
    background-color: #9FA37A;
    color: #120b02;
    margin-bottom: 40px;
    text-align: center;
}

#blog-preview h2 {
    margin-bottom: 40px; /* Add space between the h2 and the images */
}

#blog-preview a {
    text-decoration: none;
    color: #463b1e;
}

.blog-posts {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns on wide screens */
    gap: 20px;
    padding-top: 20px;
}

.blog-post {
    flex: 1 1 auto;
    max-width: 100%;
}

.blog-post img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
}

.blog-post-text {
    text-align: center;
    background-color: #63692b88;
    outline: 2px solid black;
}

.blog-post h3, h2 {
    font-size: 1.5rem;
    margin-bottom: 12px;
    text-align: center;
}

.blog-post p {
    font-size: 1.2rem;
    text-align: center;
}

.cta-button {
    margin-top: 40px; /* Add margin above the button */
    background-color: black;
    color: #F6E4CE;
    display: block;
    margin: 0 auto;
    text-align: center;
    width: fit-content;
}

.email-form {
    display: flex;
    flex-direction: column;
    background-color: rgba(97, 84, 84, 0.196);
    color: #000a5fd5;
    text-align: center;
    font-weight: 600;
    font-size: 1.4rem;
    padding: 25px 10px;
}

.email-form button {
    font-size: 1.6rem;
    color: #000000;
    background-color:#8b451375
    border-radius: 7px;
    padding: 8px;
    cursor: pointer;
    
}

.email-form button:hover {
    font-size: 1.6rem;
    color: #000000cd;
    background-color: #7a411500;
    padding: 8px;
    cursor: pointer;
    
}

/* Footer */
footer {
    width: 100%;
}

footer p {
    text-align: center;
    color: #1a0c02;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #9FA37A;
    color: #F6E4CE;
}

footer a {
    color: #F6E4CE;
    text-decoration: none;
}

footer .social-icons {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #F6E4CE;
    transition: color 0.3s ease;
}

footer .social-icons a:hover {
    color: #8B4513;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {

    main {
        padding-top: 107px;
    }

    header .container {
        flex-wrap: wrap;
    }

    header .logo {
        height: 85px;
    }

    nav {
        order: 3;
        width: 100%;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        padding: 20px 0;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .hamburger {
        display: flex;
    }

    #hero {
        height: 40vh;
        background-position: center;
    }

    .cta-button {
        padding: 10px 20px;
        font-size: 1rem;
    }

    .wallet-showcase {
        flex-direction: column;
    }

    #wallets .wallet-image {
        width: 50%;
        margin: 0px 15px;
    }

    .wallet-info {
        max-width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }

    .wallet-info p {
        font-size: 1.6rem;
        font-weight: 600;
    }

    .blog-posts {
        grid-template-columns: repeat(2, 1fr); /* 2 columns on smaller screens */
    }

    .blog-post {
        flex: 1 1 45%; /* Take up more space on smaller screens */
    }

    #blog-preview .cta-button {
        clear: both;
        display: block;
        margin-top: 20px;
    }

    footer .container {
        flex-direction: column;
        text-align: center;
    }

    footer .social-icons {
        margin-top: 15px;
    }
}

/* Mobile-specific styles */
@media screen and (max-width: 414px) {
    main {
        padding-top: 86px;
    }

    header .logo {
        height: 65px;
    }

    .hero-content h1 {
        font-size: 2rem;
    }

    .hero-content p {
        font-size: 0.9rem;
    }

    .cta-button {
        font-size: 0.9rem;
    }

    #wallets .wallet-image {
        width: 80%;
    }

    .wallet-info p {
        font-size: 1.4rem;
        font-weight: 400;
    }

    .blog-post {
        margin-bottom: 30px; /* Extra margin for smaller screens */
    }

    .blog-post {
        flex: 1 1 90%; /* Stack posts and fill screen width on mobile */
    }

    footer .container {
        padding: 10px;
    }
}