/* Reset */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #F6E4CE; /* Oakmoss beige */
    line-height: 1.6;
}

a {
    color: #8B4513;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* All specific styling has been moved inline to the index.html file */