.graphic {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pyramid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.list {
    display: flex;
    flex-direction: column;
        font-size: 1.5em;
        justify-content: center;
        align-items: center;
}

.anarchy-cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(15, 207, 15);
}

.anarchy-cta-image {
    width: 65%;
    height: auto;
    margin-top: 10px;
}